In [4]:
import pandas as pd

pepe = {'hola' : [1, 2, 3, 4, 5],
        'chau' : [6, 7, 8, 9, 10]}

df = pd.DataFrame(pepe)

In [5]:
from fastapi import FastAPI

# Aquí importaríamos el módulo que nos permita acceder a los datos de la empresa

app = FastAPI()

# Película con mayor duración
@app.get("/max_duration/")
async def get_max_duration(release_year: int = None, ID: str = None, duration_type: str = None):
    import mysql.connector
    cnx = mysql.connector.connect(user='root', password='12345678', host='127.0.0.1', database='proyecto_individual')
    cursor = cnx.cursor()

    query = "SELECT title, duration_int FROM tabla_union_prueba"
    filters = []

    if release_year is not None:
        filters.append("release_year = %s")
    if duration_type is not None:
        filters.append("duration_type = %s")
    if ID is not None:
        filters.append("ID LIKE %s")

    if len(filters) > 0:
        query += " WHERE " + " AND ".join(filters)

    query += " ORDER BY duration_int DESC LIMIT 1"

    filters

    cursor.execute(query, (release_year, duration_type, ID))
    result = cursor.fetchone()

    cursor.close()
    cnx.close()

    return {"title": result[0], "duration": result[1]}

   hola  chau
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10

In [13]:
import mysql.connector
import pandas as pd
cnx = mysql.connector.connect(user='root', password='12345678', host='127.0.0.1', database='proyecto_individual')
cursor = cnx.cursor()


# Consulta en MySQL
query = "SELECT * FROM tabla_union_prueba"

# Ejecutar la consulta y almacenar los resultados en un dataframe
df = pd.read_sql_query(query, cnx)

# Mostrar los primeros 5 registros del dataframe
print(df.head())

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_22884\436245319.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, cnx)

    ID show_id     type                  title         director  \
0  ns1      s1    movie   dick johnson is dead  kirsten johnson
1  ns2      s2  tv show          blood & water
2  ns3      s3  tv show              ganglands  julien leclercq
3  ns4      s4  tv show  jailbirds new orleans
4  ns5      s5  tv show           kota factory

                                                cast        Country  \
0                                                     united states
1  ama qamata, khosi ngema, gail mabalane, thaban...   south africa
2  sami bouajila, tracy gotoas, samuel jouy, nabi...
3
4  mayur more, jitendra kumar, ranjan raj, alam k...          india

   Date_Added release_year rating  duration_int duration_type  \
0  2021-09-25         2020  pg-13            90           min
1  2021-09-24         2021  tv-ma             2        season
2  2021-09-24         2021  tv-ma             1        season
3  2021-09-24         2021  tv-ma             1        season
4  2021-09-24         2021  tv-ma             2        season

                                           listed_in  \
0                                      documentaries
1    international tv shows, tv dramas, tv mysteries
2  crime tv shows, international tv shows, tv act...
3                             docuseries, reality tv
4  international tv shows, romantic tv shows, tv ...

                                         description
0  as her father nears the end of his life, filmm...
1  after crossing paths at a party, a cape town t...
2  to protect his family from a powerful drug lor...
3  feuds, flirtations and toilet talk go down amo...
4  in a city of coaching centers known to train i...

In [127]:
df.to_csv('data.csv', index=False)

In [151]:
import pandas as pd

def get_max_duration(df, release_year=None, ID=None, duration_type=None):
    
    # Filtrar el DataFrame por año, plataforma y tipo de duración
    if release_year:
        df = df[df['release_year'] == release_year]
    if ID:
        df = df[df['ID'].str.contains(ID)]
    if duration_type:
        df = df[df['duration_type'] == duration_type]

    # Ordenar el DataFrame por duración en orden descendente
    df = df.sort_values(by=['duration_int'], ascending=False)

    # Obtener la película con la mayor duración
    max_duration = df.iloc[0,3]
    
    return max_duration

In [169]:
def get_max_duration1(df, release_year=None, platform=None, duration_type=None):
    if release_year:
        df = df[df['release_year'] == release_year]
    if platform:
        df = df[df['ID'].str.contains(platform)]
    if duration_type:
        df = df[df['duration_type'] == duration_type]
    df = df.sort_values(by=['duration_int'], ascending=False)
    max_duration_movie = df.iloc[0]
    return max_duration_movie

get_max_duration(df, '2020','n','season')

"grey's anatomy"

In [166]:
get_max_duration1(df, '2020', 'a', 'min')

'night sky with nature sounds with 432hz nature sound track for sleep'